#/////////////////////////////////////////////////////////////////////////////
# Cocos Creator Projects
#/////////////////////////////////////////////////////////////////////////////
node_modules/
library/
temp/
local/
jsb-binary/
web-mobile/
runtime/
jsb/
export/
profiles/
settings/